body {
	text-align: center;
}

.header {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 10px;
	margin: 10px;
}
.header__item {
	border: 1px solid red;
}
@media (width <= 360px) {
	.header {
		grid-template-columns: 1fr auto;
	}
}

.portfolio {
	margin: 10px;
	display: flex;
	border: 2px solid rgb(0, 255, 238);
	padding: 5px;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio__item img {
	width: 100%;
	height: auto;
}
@media screen and (width > 1024px) {
	.portfolio__item {
		max-width: calc(25% - 15px);
		height: auto;
	}
}

@media screen and (width <= 1024px) {
	.portfolio {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* align-content: space-between; */
		height: 600px;
	}
	.portfolio__item {
		/* max-width: calc(40% - 15px); */
		width: 40%;
		height: auto;
	}
}
